@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
}

header {
  top: 0;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.5s;
  padding: 15px 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.navbar__left {
  display: flex;
  align-items: center;
  gap: 36px;
}
.navbar__left__ul {
  display: flex;
}
.navbar__left__ul a {
  color: black;
  font-size: 18px;
  border-radius: 100px;
  padding: 16px 18px;
}
.navbar__left__ul a:hover {
  background: #F5F5F5;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.toggle-button {
  position: absolute;
  top: 25px;
  right: 0.1rem;
  display: none !important;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: 0.5s;
}

.bar {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.toggle-button .bar::after {
  display: none !important;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex !important;
    cursor: pointer;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links .tel {
    color: black !important;
    font-size: 18px;
  }
}
.navbar-shrink {
  box-shadow: 0 0 5px #c8c8c8;
  padding: 5px 0 !important;
}

@media screen and (min-width: 100px) {
  .dn {
    display: none;
  }
  .right {
    margin-right: 40px;
  }
  .brs1 {
    transform: rotate(45deg) translate(11px, 20px);
  }
  .brs2 {
    transform: rotate(-45deg) translate(-8px);
  }
}
.index {
  z-index: -99999 !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown__item {
  font-size: 12px;
}
.dropdown:hover__item {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 390px !important;
    width: 100% !important;
    padding: 0 16px !important;
  }
}
.corusel_slik-div {
  max-width: 1200px;
  height: 500px;
  background-image: url(../images/Malibu.png);
  background-size: cover;
  background-position: center;
}
.corusel_slik-div h3 {
  padding-top: 60px;
  height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 10px;
}
.corusel_slik-div p {
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 10px;
}

.hero_bg-line {
  background: linear-gradient(180deg, rgba(189, 33, 33, 0.6) 6.19%, rgba(148, 27, 27, 0) 54.63%);
}

.corusel_bg2 {
  max-width: 1200px;
  height: 500px;
  background-image: url(../images/sportcarHero.png);
  background-size: cover;
  background-position: center;
}

.corusel_bg3 {
  max-width: 1200px;
  height: 500px;
  background-image: url(../images/vanscarHero.png);
  background-size: cover;
  background-position: center;
}

.search__input {
  width: 600px;
  height: 66px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  outline: none;
  border: none;
}
.search::-moz-placeholder {
  margin-left: 30px;
}
.search:-ms-input-placeholder {
  margin-left: 30px;
}
.search::placeholder {
  margin-left: 30px;
}/*# sourceMappingURL=main.css.map */