@media screen and (max-width:1200px) {
    .container{
        max-width: 1100px !important;
        width: 100% !important;
        padding: 0 30px !important;
    }
    .navbar__left__ul,.navbar__left{
        gap: 0px !important;
    }
}