@media screen and (max-width: 822px) {
  .container {
    max-width: 780px !important;
    width: 100% !important;
    padding: 0 10px !important;
  }
.category__box1{
  display: flex;
  flex-wrap: nowrap !important;
}
  
}
