@media screen and (max-width: 450px) {
  .container {
    max-width: 430px !important;
    width: 100% !important;
    padding: 0 16px !important;
  }
  .cards__all__one {
    width: 358px !important;
  }
  .Complete {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    margin: 50px 20px !important;

    
    color: #555555;
  }
  .book {
    margin: 0px 20px !important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
  }
  .icons {
    margin-right: 25px !important;
    width: 33px !important;
    height: 28px !important;
  }
  .big {
    margin-top: 100px !important;
    height: 752px !important;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 160px;
    width: 358px;
    margin: 0 auto !important;
    background: #ffffff;
    border: 1.5px solid #e5e7ea;
    border-radius: 20px;

    &__txt {
      margin: 24px 18px !important;
      // margin-right: 20px !important;
      .car {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }
      .text {
        width: 321px;
        height: 120px;

        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        /* or 167% */

        color: #555555;
      }
      .category {
        margin-top: 100px !important;
        display: flex;
        flex-wrap: wrap;
        margin-top: 94px;
        gap: 10px;
        &__box1 {
          &:hover {
            background-color: #299764 !important;
            transition: $transition-time;
            p {
              color: white;
            }
            .chemical {
              filter: invert(100%) sepia(0%) saturate(22%) hue-rotate(357deg)
                brightness(500%) contrast(107%);
            }
          }
          max-width: 200px;
          height: 160px;
          background: #f5f5f5;
          border-radius: 16px;
          .every {
            margin: 30px 15px;
          }
          .chemical {
            margin-top: 24px;
            margin-left: 156px;
          }
          .alls {
            margin-top: 56px;
          }
          .we {
            margin-top: 32px;
          }
        }
      }
    }
    .ellips {
      margin-top: 30px;
      background-image: url("../images/Ellipse.png");
      background-size: cover;
      background-size: 300px 300px;
      background-position-x: 50px;
      background-repeat: no-repeat;
      .master {
        margin-right: 70px;
        margin-top: 20px;
      }
    }
  }

  
  .master {
    display: none;
  }
  .category__box1 {
    display: flex;
    flex-wrap: wrap;
    min-width: 318px !important;
    height: 128px !important;
  }
  .btn2 {
    font-size: 10px;
  }
}
