@media screen and (max-width: 450px) {
  .container {
    max-width: 400px !important;
    width: 100% !important;
    padding: 0 16px !important;
  }
  // .card{
  //   margin-left: 16px;
  // }
  .btn2{
    font-size: 10px;
  }
}
