@import "../abstracts/variables";
.search {
  display: flex;
  justify-content: center;
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px;
    max-width: 600px;
    width: 100%;
    height: 66px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 100px;

    &__icon {
      cursor: pointer;
    }
    &__input {
      outline: none;
      margin-left: 30px;
      border: none;
      padding: 20px;
      width: 100%;
      font-size: 20px;
    }
    ::-webkit-input-placeholder {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #555555;
      //   padding-left: 30px;
    }
  }
}
.choose {
  margin-top: 110px;
  text-align: center;
}
.choose-down {
  max-width: 576px;
  margin: 0 auto;
}
.card {
  max-width: 387px;
  height: 433px;
  // margin-bottom: 20px;
  background: #f5f5f5;
  border-radius: 16px;
  // margin-left: 20px;

  &:hover {
    background-color: #299764 !important;
    transition: $transition-time;
    h3,
    h6,
    p {
      color: white;
    }
    .card-img {
      filter: invert(100%) sepia(0%) saturate(22%) hue-rotate(357deg)
        brightness(104%) contrast(107%);
    }
  }
}
  .cars__List {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.view {
  margin-top: 40px;
  padding: 18px 30px;
  width: 173px;
  height: 58px;
  margin: 0 auto;
  color: white;
  border: none;
  cursor: pointer;
  background: #299764;
  border-radius: 100px;
}
.Btns {
  text-align: center;
}
.cards {
  &__service {
    margin-top: 160px;
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
  }
  p {
    max-width: 684px;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #555555;
  }
  &__all {
 
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    &__one {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      width: 590px ;
      height: 216px;
      background: #f5f5f5;
      border-radius: 20px;
      &:hover {
        background-color: #299764 !important;
        transition: $transition-time;
        p {
          color: white;
        }
        .icons {
          filter: invert(100%) sepia(0%) saturate(22%) hue-rotate(357deg)
            brightness(500%) contrast(107%);
        }
      }
      .book {
        width: 287px;
        height: 78px;
        margin-left: 32px;
        padding-top: 40px;
        text-align: left;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
      }
      .Complete {
        max-width: 354px;
        height: 48px;
        margin-left: 32px;
        margin-top: 50px;
        text-align: left;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #555555;
      }
      .icons {
        margin-top: 50px;
        margin-right: 45px;
        width: 50px;
        height: 42px;
      }
    }
  }
}
.big {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 160px;
  max-width: 1200px;
  height: 500px;
  background: #ffffff;
  border: 1.5px solid #e5e7ea;
  border-radius: 20px;

  &__txt {
    margin: 40px 32px;
    .car {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
    }
    .text {
      max-width: 590px;
      
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #555555;
    }
    .category {
      display: flex;
      flex-wrap: wrap;
      margin-top: 94px;
      gap: 10px;
      &__box1 {
        &:hover {
          background-color: #299764 !important;
          transition: $transition-time;
          p {
            color: white;
          }
          .chemical {
            filter: invert(100%) sepia(0%) saturate(22%) hue-rotate(357deg)
              brightness(500%) contrast(107%);
          }
        }
        max-width: 200px;
        height: 160px;
        background: #f5f5f5;
        border-radius: 16px;
        .every {
          margin: 30px 15px;
        }
        .chemical {
          margin-top: 24px;
          margin-left: 156px;
        }
        .alls {
          margin-top: 56px;
        }
        .we {
          margin-top: 32px;
        }
      }
    }
  }
  .ellips {
    margin-top: 30px;
    background-image: url("../../images/Ellipse.png");
    background-size: cover;
    background-size: 300px 300px;
    background-position-x: 50px;
    background-repeat: no-repeat;
    .master {
      max-width: 386px;
      width: 100%;
      margin-right: 70px;
      margin-top: 20px;
    }
  }
}
