@import "../abstracts/variables";
.search {
  display: flex;
  justify-content: center;
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px;
    max-width: 600px;
    width: 100%;
    height: 66px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 100px;

    &__icon {
      cursor: pointer;
    }
    &__input {
      outline: none;
      margin-left: 30px;
      border: none;
      padding: 20px;
      width: 100%;
    }
    ::-webkit-input-placeholder {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #555555;
      //   padding-left: 30px;
    }
  }
}
.choose {
  margin-top: 110px;
  text-align: center;
}
.choose-down {
  max-width: 576px;
  margin: 0 auto;
}
.card {
  width: 387px;
  height: 433px;
  margin-bottom: 20px;
  background: #f5f5f5;
  border-radius: 16px;
  &:hover {
    background-color: #299764 !important;
    transition: $transition-time;
    h3,
    h6,
    p {
      color: white;
    }
    .card-img {
      filter: invert(100%) sepia(0%) saturate(22%) hue-rotate(357deg)
        brightness(104%) contrast(107%);
    }
  }
}
.cars {
  &__List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.view {
  padding: 18px 30px;
  width: 173px;
  height: 58px;
  margin: 0 auto;
  color: white;
  border: none;
  cursor: pointer;
  background: #299764;
  border-radius: 100px;
}
.Btns {
  text-align: center;
}
