@import "../abstracts/variables";

header {
    top: 0;
    background: #fff;
    position: sticky;
    transition: $transition-time;
    padding: 15px 0;

}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    font-size: 22px;
    font-weight: 700;
    padding: 25px;
}

.navbar-links {
    & ul {
        display: flex;
        padding: 0;

        & li {
            list-style: none;
            padding: 0 25px;

            & a {
            transition: $transition-time !important;
                color: dimgray;

                &:hover {
                    color: black;
                    font-size: 17px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid black;

                }
            }
        }
    }
}


.toggle-button {
    position: absolute;
    top: 25px;
    right: 0.1rem;
    display: none !important;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    transition: $transition-time;
}

.bar {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.toggle-button .bar::after {
    display: none !important;
}

    

@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex !important;
        cursor: pointer;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        transition: $transition-time;
        position: fixed;
        background: whitesmoke;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        flex-direction: column;
        padding-top: 10px;
    }

    .navbar-links ul li {
        text-align: center;
    padding: 20px 0;

    }

    .navbar-links.active {
        display: flex;
    }
    .home{
    padding-top: 70px !important;
}
}

.navbar-shrink {
    box-shadow: 0 0 5px  #c8c8c8;
    padding: 5px 0 !important;
  }
  
  @media screen and (min-width:100px) {
      .dn{
display: none;
    }
    .right{
        margin-right: 40px;
    }
   .brs1{
transform: rotate(45deg) translate(11px,20px);
   }
   .brs2{
transform: rotate(-45deg) translate(-8px)

   }
    }

    .index{
        z-index: -99999 !important;
    }