.dropdown {
    position: relative;
    display: inline-block;

    &__item {
        font-size: 12px;
    }

    &:hover {
        &__item {
            content: \2227 !important;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 140px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 16px;
    z-index: 1;
    border-radius: 20px;
    top: 35px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}